// Solid Colors
$black: #08080B;
$shark: #1C1C1F;
$tuna: #313134;
$abbey: #454548;
$scarpa-flow: #59595C;
$mid-gray: #6E6E70;
$jumbo: #828284;
$manatee: #969698;
$bombay: #ABABAC;
$french-gray: #BFBFC1;
$iron: #D4D4D5;
$white: #FDFDFD;

// Gradient Colors
$gradient-black: linear-gradient(270deg, $black 0%, $shark 50%, $black 100%);
